
//Overrided variables

$blue:     #498df4 ;
$pink:     #d63384 ;
$yellow:   #e7f339 ;
$green:    #29cd2b ;
$gray-900: #1a1b1d ;
$white:    #fff    ;


$primary:       $pink;
$secondary:     $gray-900;
$success:       $green;
$warning:       $green;
$light:         $yellow;
$dark:          $gray-900;

